<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            padding: 20px;
        }

        label {
            width: 100px;
            display: inline-block;
        }

        input {
            width: 250px;
            display: inline-block;
            padding: 5px 10px;
            outline: none;
            margin: 10px;
            font-size: 20px;
        }

        button {
            padding: 5px 10px;
            width: 200px;
            cursor: pointer;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <form style="background-color: red; width: 500px; margin: auto; color : white" method="post" action="{% url 'editform' %}" >
        {% csrf_token %}
        <h1> Edit Page </h1>

        <label> Id </label>
        <input type="text" name="idd" value={{data.id}} />
        <label> Name </label>
        <input type="text" name="name" value={{data.name}} />
        <label> Email </label>
        <input type="email" name="email" value={{data.email}} />
        <label> Course </label>
        <input type="text" name="course" value="{{data.course}}" />
        <label> Batch </label>
        <input type="text" name="patch" value="{{data.batch}}"  />
        <label> fees </label>
        <input type="number" name="fees" value="{{data.fees}}" />

        <div style="text-align: center;" >
            <button> Submit </button>
        </div>
    </form>
</body>
</html>
